@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "reset.css";
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}


.skills ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.skills .title {
    text-align: center;

}

.skills ul li {
    padding: 0 5px 10px;
    width: 33.32%;
    height: 85px;
}

.skills ul li .skill_item {
    background: #f2f4f5;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    text-align: center;
}

.skills ul li .skill_item i {
    padding-top: 10px;
}

.full_info_wrap .tabs ul {
    display: flex;
    width: 100%;
    height: 36px;
    border: 1px solid #dfe4e6;
    border-radius: 3px;
}

.full_info_wrap .tabs ul li {
    padding: 10px 15px;
    width: 33.34%;
    text-align: center;
    border-right: 1px solid #dfe4e6;
    background: #f2f4f5;
    color: #a0acb5;
    font-weight: 600;
    cursor: pointer;
}

.full_info_wrap .tabs ul li:last-child {
    border-right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.full_info_wrap .tabs ul li.active {
    background: lightgreen;
    color: #5558c9;
}

.full_info_wrap .tabs ul li:hover {
    background: lightseagreen;
    color: #5558c9;
}

.full_info {
    margin-top: 50px;
    height: 295px;
    overflow: auto;
}

.info_wrap {
    text-align: center
}

.info_wrap ul li {
    margin-bottom: 10px;
}

.info_wrap ul li:last-child {
    margin-bottom: 0;
}

.info_wrap .sub_title {
    font-size: 16px;
    font-weight: 600;
    color: #7377ff;
}

.full_info_item {
    display: block;
}

.info_wrap .info_item {
    padding-top: 10px;
    padding-left: 15px;
}

.info_wrap .info_item .info_title {
    font-weight: 600;
    margin-bottom: 5px;
}

.info_wrap .info_item .data {
    font-size: 12px;
}

.contact .info_wrap ul li span {
    display: inline-block;
}

.contact .info_wrap ul li span.info_q {
    width: 150px;
}

.contact .info_wrap ul li span.info_a {
    font-weight: 600;
}


.tabs {
    display: flex;
    justify-content: space-around;
    margin: 20px 2px 40px 2px;
    height: 40px;
}

@media (max-width: 768px) {
    .tabs {
        display: block;
        width: 50%;
        margin: 50px auto 100px;
    }
}

.tabs > * {
    width: 100%;
    color: dimgray;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs > *:hover:not(.active) {
    background-color: rgb(220, 220, 220);
}

.tabs > .active {
    color: white;
    background-color: #4CAF50;
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}